@ds-cola:registry=https://pkgs.dev.azure.com/kdop/Design-System/_packaging/ds-cola/npm/registry/
# @ds-cola:always-auth=true
registry=https://registry.npmjs.org/

; begin auth token
//pkgs.dev.azure.com/kdop/Design-System/_packaging/ds-cola/npm/registry/:username=kdop
//pkgs.dev.azure.com/kdop/Design-System/_packaging/ds-cola/npm/registry/:_password=RXVuUHV0dkZ1UmtEd1R2OE5oMmFUcFdOYXdCQndKd0MwVXNGOXlFUEZudFp2cFdraVRJVEpRUUo5OUJJQUNBQUFBQWRDR2k3QUFBU0FaRE9TYXZ1
//pkgs.dev.azure.com/kdop/Design-System/_packaging/ds-cola/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/kdop/Design-System/_packaging/ds-cola/npm/:username=kdop
//pkgs.dev.azure.com/kdop/Design-System/_packaging/ds-cola/npm/:_password=RXVuUHV0dkZ1UmtEd1R2OE5oMmFUcFdOYXdCQndKd0MwVXNGOXlFUEZudFp2cFdraVRJVEpRUUo5OUJJQUNBQUFBQWRDR2k3QUFBU0FaRE9TYXZ1
//pkgs.dev.azure.com/kdop/Design-System/_packaging/ds-cola/npm/:email=npm requires email to be set but doesn't use the value
; end auth token